{%- if page.extra.card -%}
	{%- set colocated = page.colocated_path | default(value="") -%}
	{{ get_url(path=colocated ~ page.extra.card) }}
{%- elif section.extra.card -%}
	{%- set colocated = section.colocated_path | default(value="") -%}
	{{ get_url(path=colocated ~ section.extra.card) }}
{%- elif page.extra.banner -%}
	{%- set colocated = page.colocated_path | default(value="") -%}
	{%- set card = resize_image(path=colocated ~ page.extra.banner, width=1200, height=628, op="fill") -%}
	{{ card.url }}
{%- else -%}
	{{ get_url(path="card.png") }}?v=2
{%- endif -%}
